{% if auth_requests %}
    {% for auth_request in auth_requests %}
        <div class="row">
            <form action="" method="post">
                <h4>{{auth_request.cn}}</h4>
                <ul>
                    <li>IP Address: {{auth_request.ip}}</li>
                    <li>Service: {{auth_request.service}}</li>
                <ul>
                <input type="hidden" name="cn" value ="{{auth_request.cn}}" />
                <input type="hidden" name="ip" value ="{{auth_request.ip}}" />
                <button class="btn btn-danger" type="submit">Approve</button>
                <button class="btn" type="submit">Delete</button>

            </form>

        </div>
    {% endfor %}

{% endif %}
